
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: rgb(26, 24, 24);
}
a{
  text-decoration: none;
  color: #fff;
}
.body-app{
  height: 100vh;
  background-image: url(./img/superMarket.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
  grid-gap:20px;
}
.logo{
  width: 100%;
  margin: auto;
  padding: 30px;
  font-size: 34px;
  text-align: center;
  /* background-color: rgb(77, 191, 232); */
  border-radius: 50%;
  /* border: 1px solid; */

}
img{
  width: 60%;
  border-radius: 50%;
  margin: auto;
}
.logo h1{
  color: #000;
  font-weight: 900;
  opacity: .5;

}
.marklogo{
  color: rgb(235, 226, 226);
  
}

.user{
  /* width: 50%; */
  padding: 30px 10px;
  border-radius: 20px;
  background-color: rgb(131, 138, 139);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  opacity: .5;
  transition: .3s;

}
.user:hover{
  opacity: 1;
}
.user .divUsername,.user .divPassword{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 10px auto;
}

.user label{
  margin-top: 20px;
}
.inputs{
  width: 100%;
  margin: 10px auto;
}
input{
  width: 80%;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

button{
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin: 20px auto 20px;
  background-color: rgb(24, 202, 241);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;



}
button:hover{
  background-color: rgb(97, 196, 218);
 
}
button:active{
  background-color: rgb(8, 155, 189);

}
button a{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;

}
@media (max-width:991px) {
  .body-app{
    height: none;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap:20px;
  }
  
  
}
@media (max-width:767px) {
  .body-app{
    height: none;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:20px;
  }
  
  
}
@media (max-width:620px) {
  .body-app{
    height: none;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap:10px;
    
  }
  
  
}